{% extends "base.html" %}

{% block title %}Add Schedule{% endblock %} 

{% block content %}
<div class="container">
    <form method="POST" enctype="multipart/form-data" class="p-2 form">
        <h1 class="text-center">Add Schedule</h1>
        {% csrf_token %}
        {{ form.media }} 
        {{ form|crispy }}
        <div class="text-center">
            <button type="submit" class="btn btn-primary mt-2">Add Schedule</button>
        </div>
    </form>
</div>
<script>
    jQuery('#date_from').datetimepicker({
    format:'Y-m-d H:i'
    });
    jQuery('#date_until').datetimepicker({
    format:'Y-m-d H:i'
    });
</script>
{% endblock %}