{% extends "base.html" %}

{% block title %}Schedule Detail - {{ schedule.title }}{% endblock %}

{% block content %}
<div class="container">
    <div class="schedule-info mt-3 p-1">
        <div class="schedule-detail">
            <h1 class="text-center">{{ schedule.title }}</h1>
            <p class="text-center">Posted by {{schedule.user}} on {{schedule.creation_date}}</p>
            <hr>
            <p>{{schedule.details}}</p>
            <p><span class="material-symbols-outlined">
                calendar_month
                </span>{{ schedule.date_from }} - {{ schedule.date_until }}</p>
            <p><span class="material-symbols-outlined">
                location_on
                </span>{{ schedule.location|title }}</p>

            
            <div class="text-center">

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if request.user.is_authenticated and request.user != schedule.user %} 
                <!-- Begin form for creating a booking -->
                <form action="{% url 'create_booking' schedule.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary w-25">Book now</button>
                </form>
                {% endif %}
                <!-- Optional: Other buttons for editing and deleting schedules -->
                {% if request.user == schedule.user %}
                <a href="{% url 'edit_schedule' schedule.id %}" class="btn btn-primary w-25">Edit</a>
                <a href="{% url 'delete_schedule' schedule.id %}" class="btn btn-primary w-25">Delete</a>
                {% endif %}
            </div>
            
        </div>
    </div>
</div>
{% endblock %}
